plts/
data/
logs/**
._*
tmp/
results/
.RData
.Rhistory
.DS_Store
._.DS_Store
.Rprofile
.snakemake/
code/._.DS_Store
workflow/rules/._*
SnpEff*
*txt
snpEff*
.smbdeleteAAA265088c3
docs/
workflow/envs/arch/
workflow/rules/arch/
workflow/scripts/arch/
